<div class="col l3">
  <div class="card small">
    <div class="card-content">
      <p>
        <%= product.name %>
      </p>
      <p>
        <%= product.category %>
      </p>
    </div>
   </div>
</div>
