<h1>My Inventory</h1>
<div>
<%= form_tag("/search", method: "get") do %>
    <div>
      <input type="text" id="search-input" name="search_text"/>
    </div>
    <div>
      <button class="btn" type="submit" id="search-submit">Search</button>
    </div>
  <% end %>
<% if @products %>
  <div id="products-list" class="row">
    <%= render @products %>
  </div>
  <% end %>
</div>
